<!-- inherit from base.html-->
{% extends "climber_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
<!-- Use generic class view to display student details -->
{% block content %}
    <h1> {{ gym.name }} </h1>

    <p><strong>Email:</strong> {{ gym.email }} </p>
    <p><strong>Location:</strong> {{ gym.location }} </p>
    <p><strong>About:</strong> {{ gym.about }} </p>

    <!--Iterate over the boolean fields and print the types of climbs offered-->
    <h2> Climbing Types Available </h2>
    <ul>
        {% for field in true_fields %}
            <li>{{ field }}</li>
        {% endfor %}
    </ul>

    <h2> Pricing Options </h2>
    <p><strong>Membership Pricing:</strong> ${{ gym.membership_price }} </p>
    {% if daily_price != 0 %}
        <p><strong>Day Pass Pricing:</strong> ${{ gym.daily_price }} </p>
    {% else %}
        <p>No daily pricing option available.</p>
    {% endif %}

{% endblock %}