<!-- inherit from base.html-->
{% extends "climber_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1> Climb Companion</h1>
Welcome, climbers! Here at Climb Companion, we are comitted to empowering every climber.
Whether you're here to find a new climbing gym to try out, or you're a new climber and want
to find a good place to start, we've got you covered!  
<br>
<br>
<!--Featured Gym Placeholder
<h2>This Week's Featured Gym</h2> -->

<div class="button-container">
    <a href="{% url 'gyms'%}" class="btn btn-success">Looking for a new gym?<br>Click here.</a>
    <a href="#" class="btn btn-success">Want to register your own gym?<br>Click here.</a>
    <a href="#" class="btn btn-success">Already have a gym account with us?<br>Login here.</a>
</div>

{% endblock %}